.JogoDaVelha2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: rgb(241, 241, 241);

    .jogo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        height: 92vh;
        gap: 10px;
        padding: 10px;
        aspect-ratio: 5 / 5;
        background-color: rgb(182, 182, 182);
        border-radius: 10px;

        .cards-jogo_principal {
            display: flex;
            flex-direction: row;
            justify-self: center;
            align-items: center;
            flex-wrap: wrap;

            background-color: rgb(150, 150, 150);
            border-radius: 10px;
            height: calc( (92vh / 3) - 14px);
            aspect-ratio: 5 / 5;
            gap: 5px;
            padding: 2px;

            &.x {
                background-color: red;
            }
            &.o {
                background-color: rgb(251, 255, 0);
            } 





            .cards-jogos {
                background-color: rgb(161, 161, 161);
                border-radius: 10px;
                height: calc((((92vh / 3) - 14px) /3) - 5px);
                aspect-ratio: 5 / 5;

                &.x {
                    background-color: red;
                }
                &.o {
                    background-color: rgb(251, 255, 0);
                } 
            }
        }
    }
}