.JogoDaVelha2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;

    img {
        height: 100%;
        opacity: 0.6;
    }

    .jogo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        height: 92vh;
        gap: 10px;
        padding: 10px;
        aspect-ratio: 5 / 5;
        background-color: #c1c1c1;
        border-radius: 10px;

        .cards-jogo_principal {
            display: flex;
            flex-direction: row;
            justify-self: center;
            align-items: center;
            flex-wrap: wrap;

            background-color: #4170f0;
            border-radius: 10px;
            height: calc( (92vh / 3) - 14px);
            aspect-ratio: 5 / 5;
            gap: 5px;
            padding: 2px;
            position: relative;

            &.x {
                background-color: rgb(193, 56, 56);
            }
            &.o {
                background-color: rgb(41, 165, 54);
            } 
            &.jogando {
                background-color: #f08d41;
            }



            .xganhou {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: rgb(193, 56, 56);
            }
            .oganhou {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                background-color: rgb(41, 165, 54);
            }

            .cards-jogos {
                position: relative;
                z-index: 1;
                background-color: #365fcf;
                border-radius: 10px;
                height: calc((((92vh / 3) - 14px) /3) - 5px);
                aspect-ratio: 5 / 5;

                &.x {
                    background-color: rgb(193, 56, 56);
                }
                &.o {
                    background-color: rgb(41, 165, 54);
                } 
                &.jogando {
                    background-color: #cf6436;
                }
            }
        }
    }
}